
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

.App {
  text-align: center;
  color: #6C727F
}
*{
  font-family: 'Be Vietnam Pro', sans-serif;
}
.App-logo {
  height: 40vh;
  width: 100vw;
}
.logo{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.App-header {
  position: relative;
  min-width: 100vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.main{
  position: relative;
  background-color: #1B1D1F;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.page{
  position: absolute;
  top: -68px;
  background-color: #1B1D1F;
  border: 1px solid #282B30;
  border-radius: 15px;
  height: 110vh;
  width: 90vw;
  overflow: hidden;
}
.home-header{
  color: #6C727F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-top: 25px;
  margin-right: 20px;
}
.content{
  margin-left: 40px;
}
.searchinput{
  background-color: #282B30;
  border: none;
  border-radius: 10px;
  padding: 14px;
  font-size: 14px;
  width: 20vw;
  padding-left: 45px;
}
.searchinput:focus{
  outline: none;
}
form{
  position: relative;
}
.search{
  position: absolute;
  top: 12px;
  left: 15px;
}
.filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;  
}
.filter p{
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Be Vietnam Pro', sans-serif;;
}
.filter-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.select {
  border: 2px solid #282B30;
  background-color: #1B1D1F;
  border-radius: 10px;
  padding: 5px 10px 5px 5px;
  font-size: 15px;
}
select{
  background-color: #1B1D1F;
  border: none;
  color: #D2D5DA;
  padding: 2px 8px 2px 2px;
  width: 250px;
  font-weight: 700px;
}
select:focus{
  outline: none;
}
.filter-2, .filter-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
}
.options{
  display: flex;
  flex-direction: column;
}
.option1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.option{
  background-color: #1B1D1F;
  margin: 15px 0px 0px 0px;
  border: none;
  color:#6C727F;
  font-weight: 800;
  transition: padding 0.25s;
}
.option:hover, .option:focus{
  background-color: #282B30;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  color: #D2D5DA;
}
.option-select{
  background-color: #282B30;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  color: #D2D5DA;
  border: none;
  margin-top: 10px;
}
.home-page{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 25px;
    text-align: center;
    margin:5px;
}
input[type=checkbox] {
  transform: scale(1.25);
  margin: 10px 15px 10px 0;
}

.filter-3 label{
  color: #D2D5DA;
  font-size: 13px;
}
.table{
  margin: 0px 20px 0px 20px;
  overflow: hidden;
}
table{
  text-align: left;
}
table tr th{
  padding: 5px 50px 5px 5px;
  font-size: 13px;
}
table tr td{
  color: #D2D5DA;
  padding: 5px 50px 5px 5px;;
}
.country-flag {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 220px; 
  border-radius: 10px;
  z-index: 2;
}
.country-page{
  position: absolute;
  top: -68px;
  background-color: #1B1D1F;
  border: 1px solid #282B30;
  border-radius: 15px;
  height: 100vh;
  width: 50vw;
  color: #D2D5DA;
}
.population-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.population, .area{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #282B30;
  border-radius: 10px;
  padding: 2px 12px 2px 12px;
  font-size: 15px;
}
.others{
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
}
.capital, .sub-reg, .languages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow: hidden;
}
.neighbouring{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.neigh-countries{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.neigh-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.neigh-list p{
  font-size: 10px;
}